@media screen and (max-width: 992px) {
  .navbar {
    display: inline-block;
    width: 100%;
    background-color: black !important;
  }
  .fa-bars {
    color: whitesmoke;
  }
}

@media only screen and (min-width: 996px) and (min-width: 1080px) {
  .navbar-brand {
    padding-left: 3rem !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1150px) {
  nav {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 800px) {
  #item-1 .carousel-item-contain {
    top: 140px;
    right: 80px;
    width: 220px;
    height: 200px;
  }

  #item-1 .carousel-item-para-1 {
    font-size: 1.3rem !important;
  }

  #item-1 #carousel-item-btn-1 {
    width: 100px;
    height: 48px;
    top: 450px;
    right: 372px !important;
  }

  #item-1 #carousel-item-btn-2 {
    width: 360px;
    height: 48px;
    top: 450px;
  }

  #item-1 #carousel-item-btn-3 {
    top: 520px;
    width: 310px;
  }

  #item-1 .carousel-item-btn-3 {
    font-size: 15px;
  }

  #item-1 .carousel-item-btn-1 {
    font-size: 1rem;
  }
}

/* image 2 START Media Queries */
@media only screen and (max-width: 680px) {
  #item-1 .carousel-item3-anchor1 {
    width: 380px;
    height: 50px;
    font-size: 1.8rem;
  }

  #item-1 .carousel-item3-anchor2 {
    width: 160px;
    height: 65px;
    right: 310px;
    font-size: 1rem;
  }

  #item-1 .carousel-item2-anchor2 a {
    width: 320px;
    height: 65px;
    font-size: 1.8rem;
  }
}
/* image 2 END Media Queries */

/* image 3 media query */

@media only screen and (min-width: 480px) and (max-width: 590px) {
  .vertical-line {
    left: 60px;
  }
  #item-1 h1 {
    font-size: 2.4rem;
    /* left: 120px; */
  }
  #item-1 h2 {
    /* left: 140px; */
    font-size: 2.4rem;
  }
  #item-1 .carousel-item3 {
    height: 100px;
    width: 440px;
  }
  #item-1 h3 {
    padding-left: 6rem;
    padding-top: 0.5rem;
    font-size: 1.8rem;
  }
  #item-1 h4 {
    padding-left: 6rem;
    padding-top: 0.5rem;
    font-size: 1.8rem;
  }
  #item-1 .arrow-right {
    top: 440px;
    left: 401px;
    height: 40px;
    width: 70px;
  }
}

/* item-2 START Media Queries */
@media only screen and (max-width: 1189px) {
  #item-2 .image-backside-item2 {
    height: 860px !important;
  }
  #item-2 h1 {
    font-size: 2.2rem;
  }
  #item-2 .item2-contain1-para1 {
    font-size: 1.4rem;
  }
  #item-2 .item2-logo {
    padding: 1.4rem 0px;
  }
}

@media only screen and (max-width: 991px) {
  #item-2 .image-backside-item2 {
    height: 770px !important;
  }
}

@media only screen and (max-width: 767px) {
  #item-2 .image-backside-item2 {
    height: 670px !important;
  }
  #item-2 h1 {
    font-size: 2rem;
  }
  #item-2 .item2-contain1-para1 {
    font-size: 1.2rem;
  }

  /* Item 3 media query */

  #item-3 {
    height: 3700px;
  }
  #item-3 .mobileapp-card {
    margin: 3rem 0px;
  }

  /* Item 8 media query */
  .container h1 {
    font-size: 1.6rem;
  }

  .container .container-para-1 {
    font-size: 1.5rem;
  }

  .container .container-para-2 {
    font-size: 1.1rem;
  }

  /* Item 10 media query */

  #item-10 .item-10-h1 {
    font-size: 35px;
  }

  .item-10-container-1 {
    height: 140px;
    width: 900px;
  }

  .number-contain h1 {
    font-size: 3rem;
    display: block;
    margin: auto;
  }
}
/* item-2 END Media Queries */

/* item-3 START Media Queries */
@media only screen and (max-width: 1199px) {
  #item-3 {
    height: 2090px;
  }
  #item-3 .last {
    margin-top: 3rem !important;
  }
  #item-3 .container {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}

@media only screen and (max-width: 991px) {
  #item-3 .card {
    margin: 1rem 0px !important;
  }
  #item-3 {
    height: 2000px;
  }
}

@media only screen and (max-width: 767px) {
  #item-3 {
    height: 3540px;
  }
  #item-3 .card {
    margin: 1rem 0px !important;
  }
}

@media only screen and (max-width: 575px) {
  #item-3 {
    height: 2000px;
  }
}

@media only screen and (max-width: 541px) {
  #item-3 {
    height: 3540px;
  }
  #item-3 .mobileapp-card {
    margin: 3rem 0px;
  }
}
/* item-3 END Media Queries */

/* item-4 START Media Queries */
@media only screen and (max-width: 1210px) {
  #item-4 .container {
    height: 240px;
    width: 1000px !important;
  }
}

@media only screen and (max-width: 1030px) {
  #item-4 .container {
    height: 260px;
    width: 800px !important;
  }
}

@media only screen and (max-width: 800px) {
  #item-4 .container {
    height: 200px;
    width: 700px !important;
  }
  #item-4 .item4-para1 {
    font-size: 1.2rem;
  }

  #item-4 .item4-para2 {
    font-size: 0.8rem;
    font-family: var(--font-family);
  }
}

@media only screen and (max-width: 767px) {
  #item-4 .container {
    height: 260px;
  }
  #item-4 .item4-btn1 {
    padding: 6px 30px;
  }

  #item-4 .item4-btn2 {
    padding: 7px 20px;
  }
}

@media only screen and (max-width: 620px) {
  #item-4 .container {
    height: 240px;
    width: 400px !important;
  }
  #item-4 .item4-para1 {
    font-size: 0.8rem;
  }
  #item-4 .item4-para2 {
    font-size: 0.7rem;
  }
  #item-4 .item4-btn1 {
    padding: 5px 24px;
  }

  #item-4 .item4-btn2 {
    padding: 6px 18px;
  }
}

@media only screen and (max-width: 474px) {
  #item-4 .container {
    height: 220px;
    width: 300px !important;
  }
  #item-4 .item4-para1 {
    font-size: 0.6rem;
  }
  #item-4 .item4-para2 {
    font-size: 0.7rem;
  }
  #item-4 .item4-btn1 {
    padding: 5px 12px;
    font-size: 0.8rem;
  }
  #item-4 .item4-btn2 {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

/* item-4 END Media Queries */

/* item-6 START Media Queries */
@media only screen and (max-width: 788px) {
  #item-6 .container-fluid {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  #item-6 .item6-h1 {
    font-size: 2.4rem;
  }
  #item-6 .item6-btn1 {
    padding: 8px 60px;
    font-size: 1rem;
  }
  #item-6 .item6-btn2 {
    padding: 8px 60px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 586px) {
  #item-6 {
    height: 860px !important;
  }
  #item-6 .item6-h1 {
    font-size: 2.8rem;
  }
  #item-6 .item6-btn1 {
    padding: 8px 76px;
    font-size: 1rem;
  }
  #item-6 .item6-btn2 {
    padding: 8px 84px;
    font-size: 1rem;
  }
}

/* item-6 END Media Queries */

/* Item 5 media query */

@media only screen and (max-width: 991px) {
  .item-5-contain-3 {
    margin-left: 12rem;
    margin-top: 3rem;
  }
}

/* Item 5 media query */
@media only screen and (max-width: 767px) {
  .item-5-contain-3 {
    margin-left: -1rem;
  }
  .item-5-contain-2 {
    margin-top: 3rem;
  }

  .container-contain {
    margin-left: 4rem;
  }
}

/* item-9 START Media Queries */
@media only screen and (max-width: 1277px) {
  #item-9 .card-4 {
    margin-top: 3rem;
  }
  #item-9 .card-5 {
    margin-top: 3rem;
  }
  #item-9 .card-6 {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 861px) {
  #item-9 .card-5 {
    margin-top: 6rem;
  }
}
/* item-9 END Media Queries */

/* item-11  START Media Queries */
@media only screen and (max-width: 1055px) {
  #item-11 .container-fluid .card-four {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 799px) {
  #item-11 .container-fluid {
    margin-top: -3rem;
  }

  #item-11 .container-fluid .card-one {
    margin-top: 4rem;
  }

  #item-11 .container-fluid .card-two {
    margin-top: 4rem;
  }

  #item-11 .container-fluid .card-three {
    margin-top: 4rem;
  }
}

/* item-11  END Media Queries */

/* item-12 START Media Queries */
@media only screen and (max-width: 1200px) {
  #item-12 img {
    height: 220px !important;
  }

  #item-12 em {
    font-family: var(--font-family);
    font-size: 1rem;
  }

  #item-12 a {
    text-decoration: none;
    color: black;
    font-family: var(--font-family);
  }

  #item-12 a:hover {
    color: red;
  }

  #item-12 .anchor-btn {
    font-size: 0.8rem;
  }

  #item-12 .lead {
    padding-top: 0.4rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 991px) {
  #item-12 img {
    height: 260px !important;
  }
}

@media only screen and (max-width: 767px) {
  #item-12 img {
    height: 240px !important;
    width: 100% !important;
    margin-bottom: 2rem;
  }
  #item-12 .item12-reverse {
    flex-wrap: wrap-reverse !important;
  }
}
/* item-12 END Media Queries */

/* item-13  END Media Queries */
@media only screen and (max-width: 1181px) {
  #item-13 .container-fluid .card-four {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 799px) {
  #item-13 h1 {
    font-size: 1.8rem;
  }

  #item-13 .container-fluid {
    margin-top: -3rem;
  }

  #item-13 .container-fluid .card-one {
    margin-top: 4rem;
  }

  #item-13 .container-fluid .card-two {
    margin-top: 4rem;
  }

  #item-13 .container-fluid .card-three {
    margin-top: 4rem;
  }
  #item-13 .container-fluid .card-four {
    margin-top: 4rem;
  }
}

/* item-13 END Media Queries */

/* item-15 START Media Queries */
@media only screen and (max-width: 546px) {
  #item-15 h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 410px) {
  #item-15 h1 {
    font-size: 1.2rem;
  }
}
/* item-15 END Media Queries */

/* item-16 START Media Queries */
@media only screen and (max-width: 991px) {
  #item-16 .item-16-btn {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 410px) {
  #item-15 h1 {
    font-size: 1.2rem;
  }
}
/* item-16 END Media Queries */

/* item-17 START Media Queries */

@media only screen and (max-width: 992px) {
  #item-17 p {
    font-size: 1rem !important;
  }
}
/* @media only screen and (max-width: 520px) {
  .item-17-container-2-para-1{
    font-size: 0.9rem;
  }
} */
/* item-17 END Media Queries */

/* ITEM ALL Media query  MOBILE */
@media only screen and (max-width: 480px) {
  #item-1 .carousel-item-contain {
    top: 180px;
    width: 180px;
    height: 150px;
  }

  #item-1 .carousel-item-para-1 {
    font-size: 1rem !important;
  }

  #item-1 #carousel-item-btn-1 {
    height: 44px;
    width: 70px;
    right: 270px !important;
  }

  #item-1 #carousel-item-btn-2 {
    width: 260px;
    height: 44px;
  }

  #item-1 .carousel-item-btn-1 {
    font-size: 0.8rem;
  }

  #item-1 #carousel-item-btn-3 {
    top: 520px;
    width: 250px;
    height: 44px;
    padding-top: 0.1rem;
  }

  #item-1 .carousel-item-btn-3 {
    font-size: 0.8rem;
  }

  /* IMAGE 2 START MOBILE SIZE */
  #item-1 .carousel-item3-anchor1 {
    width: 310px;
    height: 58px;
    font-size: 1.4rem;
  }

  #item-1 .carousel-item3-anchor2 {
    width: 140px;
    height: 40px;
    right: 190px;
    font-size: 0.8rem;
  }

  #item-1 .carousel-item2-anchor2 a {
    width: 200px;
    height: 40px;
    font-size: 0.9rem;
  }

  #item-1 .btn {
    width: 340px !important;
    font-size: 0.8rem;
  }
  /* IMAGE 2 END MOBILE SIZE */

  /* IMAGE 3 START MOBILE SIZE */
  .vertical-line {
    left: 40px !important;
  }
  #item-1 .carousel-item3-trynow {
    top: 570px;
    left: -100px;
    height: 40px;
    width: 240px;
  }
  #item-1 h5 {
    padding-top: 0.7rem !important;
  }
  #item-1 h1 {
    font-size: 1.4rem;
    left: 90px;
  }
  #item-1 h2 {
    left: 90px;
    font-size: 1.5rem !important;
  }
  #item-1 .carousel-item3 {
    height: 90px;
    width: 290px;
  }
  #item-1 h3 {
    padding-left: 6rem;
    padding-top: 0.6rem;
    font-size: 1.2rem;
  }
  #item-1 h4 {
    padding-left: 6rem;
    padding-top: 0.5rem;
    font-size: 1.2rem !important;
  }
  #item-1 .arrow-right {
    top: 440px;
    left: 250px;
    height: 35px;
    width: 60px;
  }
  #item-1 h5 {
    font-size: 0.8rem;
    left: 100px !important;
  }
  /* IMAGE 3 END MOBILE SIZE */

  /* ITEM-2 START MOBILE SIZE */

  #item-2 h1 {
    font-size: 1.5rem;
  }

  #item-2 .item2-contain1-para1 {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  #item-2 .btn-know-more {
    padding: 6px 28px;
    margin-top: 3rem !important ;
  }

  #item-2 .item2-logo {
    padding: 2.4rem 0px;
  }

  /* ITEM-2 END MOBILE SIZE */

  /* ITEM - 5 Media query */
  .item-5 h1 {
    font-size: 1.6rem;
  }

  .container-contain {
    margin-left: 0.1rem;
  }

  .item-5 p {
    font-size: 0.9rem;
  }

  /* ITEM-10 START MOBILE SIZE */
  #item-10 .item-10-h1 {
    font-size: 1.7rem;
  }

  .item-10-container-1 {
    width: 100% !important;
    height: 190px;
  }

  .number-contain {
    display: block;
    margin: auto;
  }

  .number-contain h1 {
    font-size: 3rem;
    padding: 1.4rem 0px;
  }

  .item-10-container-1 .container-1-para-1 {
    line-height: 1.5;
  }

  .item-10-container-1 {
    display: block;
    width: 100%;
    margin: auto;
  }
  /* ITEM-10 END MOBILE SIZE */

  /* ITEM-11 START MOBILE SIZE */
  #item-11 h1 {
    font-size: 2.2rem;
  }
  /* ITEM-11 END MOBILE SIZE */

  /* ITEM-12 START MOBILE SIZE */
  #item-12 h1 {
    font-size: 2.2rem !important;
  }
  /* ITEM-12 END MOBILE SIZE */

  /* ITEM-11 START MOBILE SIZE */
  #item-13 h1 {
    font-size: 1.4rem;
  }
  /* ITEM-11 END MOBILE SIZE */
}

@media only screen and (max-width: 480px) {
  #item-17 .containe-3 {
    margin-top: 2rem;
  }
}
